<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edycja użytkownika</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <h2>Edycja użytkownika</h2>
    <form th:action="@{/admin/edit_user/{userId}(userId=${userDTO.id})}" th:object="${userDTO}" method="post">
        <!-- Pola użytkownika -->
        <div class="form-group">
            <label for="firstName">Imię:</label>
            <input type="text" id="firstName" class="form-control" th:field="*{firstName}" required>
        </div>
        <div class="form-group">
            <label for="lastName">Nazwisko:</label>
            <input type="text" id="lastName" class="form-control" th:field="*{lastName}" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" class="form-control" th:field="*{email}" required>
        </div>
        <button type="submit" class="btn btn-primary">Zaktualizuj użytkownika</button>
    </form>

    <h3>Adres użytkownika</h3>
    <form th:action="@{/admin/edit_address/{userId}(userId=${addressDTO.id})}" th:object="${addressDTO}" method="post">
        <!-- Pola adresu -->
        <div class="form-group">
            <label for="street">Ulica:</label>
            <input type="text" id="street" class="form-control" th:field="*{street}" required>
        </div>
        <div class="form-group">
            <label for="city">Miasto:</label>
            <input type="text" id="city" class="form-control" th:field="*{city}" required>
        </div>
        <div class="form-group">
            <label for="postalCode">Kod pocztowy:</label>
            <input type="text" id="postalCode" class="form-control" th:field="*{postalCode}" required>
        </div>
        <div class="form-group">
            <label for="country">Kraj:</label>
            <input type="text" id="country" class="form-control" th:field="*{country}" required>
        </div>
        <button type="submit" class="btn btn-primary">Zaktualizuj adres</button>
    </form>
</div>

</body>
</html>