<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Wyszukiwanie użytkowników</title>
    <script src="/js/navigation.js"></script> <!-- Zakładając, że mamy taki plik -->
</head>
<body>
<h1>Wyszukiwanie użytkowników</h1>
<form th:action="@{/admin/user_search}" method="post">
    <label for="lastName">Nazwisko użytkownika:</label>
    <input type="text" id="lastName" name="lastName" required>
    <button type="submit">Szukaj</button>
</form>

<button onclick="goBack()">Powrót</button>

</body>
</html>