<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dodaj Produkt</title>
</head>
<body>
<form th:action="@{/admin/addProduct}" th:object="${product}" method="post">
    <div>
        <label for="title">Nazwa:</label>
        <input type="text" id="title" th:field="*{title}">
    </div>
    <div>
        <label for="description">Opis:</label>
        <input type="text" id="description" th:field="*{description}">
    </div>
    <div>
        <label for="miniature">URL Obrazka:</label>
        <input type="text" id="miniature" th:field="*{miniature}">
    </div>
    <div>
        <label for="price">Cena:</label>
        <input type="text" id="price" th:field="*{price}">
    </div>
    <select id="productType" th:field="*{productType}">
        <option th:each="type : ${productTypes}"
                th:value="${type}"
                th:text="${type}">Typ Produktu</option>
    </select>

    <select id="category" th:field="*{categoryId}">
        <option th:each="category : ${categories}"
                th:value="${category.id}"
                th:text="${category.name}">Kategoria</option>
    </select>

    <select id="author" th:field="*{authorId}">
        <option th:each="author : ${authors}"
                th:value="${author.id}"
                th:text="${author.name}">Autor</option>
    </select>
    <div>
        <label for="quantity">Ilość:</label>
        <input type="number" id="quantity" th:field="*{quantity}">
    </div>

    <div>
        <input type="submit" value="Dodaj Produkt">
    </div>
</form>

<button onclick="history.back()">Powrót</button>
</body>
</html>