<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista użytkowników</title>
</head>
<body>
<h1>Lista użytkowników</h1>

<!-- Tutaj pozostała część formularza i tabeli... -->

<table>
    <thead>
    <tr>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Email</th>
        <th>Rola</th>
        <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${userPage.content}">
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.email}"></td>
        <td> <!-- Tutaj założono, że rola jest dostępna i wyświetlana jako ciąg tekstowy -->
            <span th:text="${user.roles}"></span>
        </td>
        <td>
            <a th:href="@{/admin/edit_user/{userId}(userId=${user.id})}">Edytuj</a> |
            <a th:href="@{/admin/user_orders/{userId}(userId=${user.id})}">Zamówienia</a>
        </td>
    </tr>
    </tbody>
</table>

<button onclick="history.back()">Powrót</button>

</body>
</html>