<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Zamówienia użytkownika</title>
</head>
<body>
<h1>Zamówienia użytkownika</h1>
<table>
    <thead>
    <tr>
        <th>ID zamówienia</th>
        <th>Status</th>
        <th>Data utworzenia</th>
        <th>Całkowita cena</th>
        <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <td th:text="${order.id}"></td>
        <td th:text="${order.orderStatus}"></td>
        <td th:text="${order.dateCreated}"></td>
        <td th:text="${order.totalPrice}"></td>
        <td>
            <!-- Link do szczegółów zamówienia -->
            <a th:href="@{/admin/orders/details/{orderId}(orderId=${order.id})}">Szczegóły</a>
            <!-- Link do edycji zamówienia -->
            <a th:href="@{/admin/orders/edit/{orderId}(orderId=${order.id})}">Edytuj</a>
        </td>
    </tr>
    </tbody>
</table>

<!-- Guzik powrotu do poprzedniej strony -->
<button onclick="history.back()">Powrót</button>

</body>
</html>