<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Zamówienia użytkownika</title>
</head>
<body>
<h1>Zamówienia użytkownika</h1>
<table>
    <thead>
    <tr>
        <th>ID zamówienia</th>
        <th>Status</th>
        <th>Data utworzenia</th>
        <th>Data wysyłki</th>
        <th>Całkowita cena</th>
        <!-- Dodaj inne potrzebne kolumny -->
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orderPage.content}">
        <td th:text="${order.id}"></td>
        <td th:text="${order.status}"></td>
        <td th:text="${order.dateCreated}"></td>
        <td th:text="${order.sentAt}"></td>
        <td th:text="${order.totalPrice}"></td>
        <!-- Dodaj inne pola -->
    </tr>
    </tbody>
</table>

<!-- Elementy nawigacji paginacyjnej -->
<div>
    <ul>
        <li th:if="${orderPage.hasPrevious()}">
            <a th:href="@{/orders(page=${orderPage.number - 1}, size=${orderPage.size})}">Poprzednia</a>
        </li>
        <li th:each="pageNum : ${#numbers.sequence(0, orderPage.totalPages - 1)}">
            <a th:href="@{/orders(page=${pageNum}, size=${orderPage.size})}" th:text="${pageNum + 1}"></a>
        </li>
        <li th:if="${orderPage.hasNext()}">
            <a th:href="@{/orders(page=${orderPage.number + 1}, size=${orderPage.size})}">Następna</a>
        </li>
    </ul>
</div>
</body>
</html>