<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Koszyk</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" integrity="sha384-gH2yIJqQkNH2i8t13咫46A7E24KJE7XqZDsV40E+3H5+VT3q3H9+UF/h/H+k" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856UREqJFFbHnIF59F0m9/0Id/i675+T58Fz4NC596DCEeHjY4ceXJXnaEB" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-H+K7U5CnXl1h5ywQfKtSj8PCmoN9Yq36rI277C3H6C8=" crossorigin="anonymous"></script>
</head>
<body>
<h1>Koszyk</h1>
<div th:if="${basket != null}">
    <ul>
        <li th:each="item : ${basket.lineOfOrders}">
            <span th:text="${item.product.title}">Nazwa produktu</span> -
            <span th:text="${item.quantity}">Ilość</span>
            <form th:action="@{/account/updateProductQuantity/{productId}(productId=${item.product.id})}" method="post" style="display:inline;">
                <input type="number" name="quantity" th:value="${item.quantity}" min="1" />

            </form>
            <form th:action="@{/account/removeFromBasket/{productId}(productId=${item.product.id})}" method="post" style="display:inline;">
                <input type="submit" value="Usuń" />
            </form>
        </li>
    </ul>
    <a href="/account/checkoutBasket" class="btn btn-primary">Przejdź do kasy</a>
</div>
<div th:if="${basket == null}">
    <p>Twój koszyk jest pusty.</p>
</div>

<!-- Przeniesienie logo na dół strony -->
<div class="text-center mt-5">
    <img src="/logo.jpg" alt="Logo" style="width: 250px; height: auto;">
</div>
</body>
</html>