<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kategorie</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>
<body class="container mt-4">
<h2>Lista Kategorii</h2>
<div class="list-group">
    <div th:each="category : ${categories}" class="list-group-item">
        <h5 class="mb-1" th:text="${category.name} + (category.parentCategory != null ? ' (' + category.parentCategory.name + ')' : '')">Nazwa Kategorii</h5>
        <button th:if="${isAdmin}" th:onclick="'window.location.href=\'/categories/edit/' + ${category.id} + '\''" class="btn btn-primary btn-sm">Edytuj</button>
        <div th:if="${not #lists.isEmpty(category.subcategories)}" class="ms-2 mt-2">
            <ul class="list-unstyled">
                <li th:each="subCategory : ${category.subcategories}" th:text="${subCategory.name}">Podkategoria</li>
            </ul>
        </div>
    </div>
</div>

<button onclick="history.back()" class="btn btn-secondary mt-3">Powrót</button>
</body>
</html>