<form action="#" th:action="@{/categories/add}" th:object="${categoryDTO}" method="post">
    <input type="text" th:field="*{name}" placeholder="Nazwa kategorii" />
    <select th:field="*{parentCategoryId}">
        <option value="">Brak kategorii nadrzędnej</option>
        <option th:each="cat : ${allCategories}" th:value="${cat.id}" th:text="${cat.name}"></option>
    </select>
    <button type="submit">Dodaj Kategorię</button>
</form>

<div>
    <form action="/adminPanel" method="get">
        <button onclick="goBack()">Powrót</button>
    </form>
</div>