<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="/js/order_status_management.js"></script> <!-- Zaktualizowana ścieżka do zewnętrznego JS -->
    <title>Zamówienia według statusu</title>
</head>
<body>
<h1>Zamówienia według statusu</h1>

<!-- Formularz filtrujący zamówienia... -->

<table>
    <thead>
    <tr>
        <th>ID zamówienia</th>
        <th>Data utworzenia</th>
        <th>Status</th>
        <th>Łączna cena</th>
        <th>Akcja</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <td th:text="${order.id}"></td>
        <td th:text="${order.dateCreated}"></td>
        <td th:text="${order.orderStatus}"></td>
        <td th:text="${order.totalPrice}"></td>
        <td>
            <a th:href="@{/admin/orders/details/{orderId}(orderId=${order.id})}">Szczegóły</a>
            <a th:href="@{/admin/orders/edit/{orderId}(orderId=${order.id})}">Edytuj</a>
            <!-- Select i przycisk zmiany statusu jak wcześniej -->
        </td>
    </tr>
    </tbody>
</table>


<button onclick="history.back()">Powrót</button>

</body>
</html>