<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zamówienia według statusu</title>
<!--    <script src="/js/orderStatusManagement.js"></script> &lt;!&ndash; Zaktualizowana ścieżka do zewnętrznego JS &ndash;&gt;-->
</head>
<body>
<h1>Zamówienia według statusu</h1>

<form th:action="@{/admin/ordersByStatus}" method="get">
    <select name="orderStatus">
        <option value="NEW_ORDER" th:selected="${selectedStatus == 'NEW_ORDER'}">Nowe zamówienie</option>
        <option value="PROCESSED" th:selected="${selectedStatus == 'PROCESSED'}">Przetworzone</option>
        <option value="SENT" th:selected="${selectedStatus == 'SENT'}">Wysłane</option>
        <option value="DELIVERED" th:selected="${selectedStatus == 'DELIVERED'}">Dostarczone</option>
        <option value="CANCELED" th:selected="${selectedStatus == 'CANCELED'}">Anulowane</option>
    </select>
    <button type="submit">Filtruj</button>
</form>

<table>
    <thead>
    <tr>
        <th>ID zamówienia</th>
        <th>Data utworzenia</th>
        <th>Status</th>
        <th>Łączna cena</th>
        <th>Akcja</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <td th:text="${order.id}"></td>
        <td th:text="${order.dateCreated}"></td>
        <td th:text="${order.orderStatus}"></td>
        <td th:text="${order.totalPrice}"></td>
        <td>
            <a th:href="@{/orders/details/{orderId}(orderId=${order.id})}">Szczegóły</a>
            <a th:href="@{/orders/edit/{orderId}(orderId=${order.id})}">Edytuj</a>
        </td>
    </tr>
    </tbody>
</table>

<button onclick="history.back()">Powrót</button>

</body>
</html>