<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista Produktów</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
</head>
<body>
<h1>Lista Produktów</h1>

<!-- Przełączanie widoku -->
<!-- Używam th:href z konstrukcją @{...} dla dynamicznego generowania URL -->
<a th:href="@{/products(viewType='list', gridSize=${gridSize}, page=${productsPage.number})}">Przełącz na widok listy</a>
</div>

<!-- Formularz do wyboru liczby produktów na stronie -->
<form action="#" method="get">
    <select name="pageSize" onchange="this.form.submit()">
        <option value="10" th:selected="${pageSize == 10}">10</option>
        <option value="20" th:selected="${pageSize == 20}">20</option>
        <!-- Dodatkowe opcje -->
    </select>
    <input type="hidden" name="viewType" th:value="${currentViewType}">
</form>

<!-- Lista produktów -->
<ul class="product-list">
    <li th:each="product : ${productsPage.content}">
        <h2 th:text="${product.title}"></h2>
        <p><strong>Cena:</strong> <span th:text="${product.price}"></span></p>
        <p><strong>Typ:</strong> <span th:text="${product.productType}"></span></p>
        <a th:href="@{/products/{productId}(productId=${product.id})}">Szczegóły</a>
        <button onclick="location.href='/add-to-cart/'  ${product.id}">Kup</button>
    </li>
</ul>

<!-- Paginacja -->
<div>
    <a th:if="${productsPage.hasPrevious()}" th:href="@{/products(page=${productsPage.number - 1}, size=${productsPage.size}, viewType=${currentViewType})}">Poprzednia strona</a>
    <span th:text="${productsPage.number + 1}"></span> z <span th:text="${productsPage.totalPages}"></span>
    <a th:if="${productsPage.hasNext()}" th:href="@{/products(page=${productsPage.number + 1}, size=${productsPage.size}, viewType=${currentViewType})}">Następna strona</a>
</div>

<button onclick="history.back()">Powrót</button>

</body>