<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product Grid</title>
    <!-- Dodaj odpowiednie style CSS -->
</head>
<body>
<h1>Product Grid</h1>
<div>
    <!-- Używam th:href z konstrukcją @{...} dla dynamicznego generowania URL -->
    <a th:href="@{/products(viewType='grid', pageSize=${pageSize}, page=${productsPage.number})}">Przełącz na widok siatki</a>
</div>
<!-- Grid produktów -->
<div class="product-grid">
    <div th:each="product : ${productsPage.content}" class="product">
        <h2 th:text="${product.title}"></h2>
        <p><strong>Cena:</strong> <span th:text="${product.price}"></span></p>
        <p><strong>Typ:</strong> <span th:text="${product.productType}"></span></p>
        <a th:href="@{/products/{productId}(productId=${product.id})}">Szczegóły</a>
        <button onclick="location.href='/add-to-cart/'  ${product.id}">Kup</button>
    </div>
</div>

<!-- Formularz do wyboru liczby produktów na stronie dla widoku siatki -->
<form action="#" method="get">
    <select name="gridSize" onchange="this.form.submit()">
        <option value="20" th:selected="${gridSize == 20}">20</option>
        <option value="50" th:selected="${gridSize == 50}">50</option>
        <!-- Możesz dodać więcej opcji jeśli potrzebujesz -->
    </select>
    <input type="hidden" name="viewType" value="grid">
</form>

<a href="/">Powrót do strony głównej</a>

</body>
</html>