<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista Użytkowników</title>
</head>
<body>
<h1>Lista Użytkowników</h1>
<div>
    <a href="/users/add">Dodaj użytkownika</a>
</div>

<!-- Formularz do wyboru rozmiaru strony -->
<form action="#" method="get">
    <select name="size" onchange="this.form.submit()">
        <option th:selected="${userPage.size == 25}" value="25">25</option>
        <option th:selected="${userPage.size == 50}" value="50">50</option>
    </select>
</form>

<table>
    <!-- Nagłówki tabeli... -->
    <tr th:each="user : ${userPage.content}">
        <!-- Dane użytkownika... -->
        <td th:text="${user.id}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <!-- inne pola -->
        <td>
            <a th:href="@{/users/edit/{id}(id=${user.id})}">Edytuj</a>
            <a th:href="@{/users/delete/{id}(id=${user.id})}">Usuń</a>
        </td>
    </tr>
</table>

<!-- Paginacja -->
<div>
    <ul>
        <!-- Poprzednia strona -->
        <li th:if="${userPage.hasPrevious()}">
            <a th:href="@{/users(page=${userPage.number - 1}, size=${userPage.size})}">Poprzednia</a>
        </li>
        <!-- Numery stron -->
        <li th:each="pageNum : ${#numbers.sequence(0, userPage.totalPages - 1)}">
            <a th:href="@{/users(page=${pageNum}, size=${userPage.size})}" th:text="${pageNum + 1}"></a>
        </li>
        <!-- Następna strona -->
        <li th:if="${userPage.hasNext()}">
            <a th:href="@{/users(page=${userPage.number + 1}, size=${userPage.size})}">Następna</a>
        </li>
    </ul>
</div>
</body>
</html>