<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rejestracja Użytkownika</title>
    <!-- Dodaj linki do CSS, jeśli potrzebne -->
</head>
<body>
<h2>Rejestracja Użytkownika</h2>

<form action="#" th:action="@{/users/new}" method="post">
    <!-- Pola dotyczące użytkownika -->
    <input type="text" name="firstName" placeholder="Imię"/>
    <input type="text" name="lastName" placeholder="Nazwisko"/>
    <input type="text" name="email" placeholder="Email"/>
    <input type="password" name="password" placeholder="Hasło"/>

    <select name="role">
        <option value="USER">Użytkownik</option>
        <option value="ADMIN">Administrator</option>
    </select>
    <!-- Pola dotyczące adresu -->
    <input type="text" name="street" placeholder="Ulica"/>
    <input type="text" name="city" placeholder="Miasto"/>
    <input type="text" name="postalCode" placeholder="Kod pocztowy"/>
    <input type="text" name="country" placeholder="Kraj"/>

    <input type="submit" value="Zarejestruj"/>
</form>
<button onclick="history.back()">Powrót</button>

</body>
</html>